.movies-list {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    padding: 0 32px 32px;
}

.pagination {
    margin: 40px auto 0;
}

.ant-pagination-item {
    border-radius: 4px;
}

.ant-pagination-item-active {
    background-color: #1890ff;
}

.ant-pagination-item-active a {
    color: #fff;
}

.ant-result {
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .movies-list {
        margin: 0 6px;
        justify-content: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1004px) {
    .movies-list {
        margin: 0 6px;
        justify-content: center;
    }

    .card:nth-child(2n) {
        margin-right: 0
    }
}
