@import '~antd/dist/antd.css';
@import './components/MovieCard/MovieCard.css';
@import './components/App/App.css';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
}

.spinner {
    margin: 50vh auto 0;
}

.page {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 1010px;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 32px;
}
