@import '~antd/dist/antd.css';
@import './components/MovieCard/MovieCard.css';
@import './components/App/App.css';
@import './components/ErrorIndicator/ErrorIndicator.css';
@import './components/MoviesList/MoviesList.css';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
}

.spinner {
    margin: 50vh auto 0;
}

.page {
    background: #fff;
    width: auto;
    max-width: 1010px;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 32px;
    padding-top: 13px;
}

.hidden {
    display: none;
}

.ant-menu {
    width: 165px;
    margin: 0 auto 20px;
}

.ant-rate {
    margin-bottom: 15px;
    font-size: 15px;
}

.ant-pagination-options {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        background: #fff;
    }
}


